#stopwatch{
  position: relative;
  display: inline-block;
  width: 100vw;
  height: 100vh;
}

#svg-background{
  width: 100vw;
  height: 100vh;
}

#watch-area{
  border: 1px solid black;
  border-radius: 30px;
  width: 50%;
  display: inline-block;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  background-color: white;
}

#total-time-display{
  margin-top: 15px;
  margin-bottom: 15px;
  
}

#totalTimeDisplay{
  font-size: 3em;
  text-align: center;
  color: #2F4F4F;
  width: 80%;
}

#current-lap-time-display{
  margin-bottom: 30px;
}

#currentLapTimeDisplay{
  font-size: 1.4em;
  color: #4f372f;
  margin-right: 7%;
}

#control-buttons{
  margin-bottom: 20px;
}



#lap-times{
  text-align: left;
  display: inline-block;
  margin-left: 25%;
}

#lap-times-list{
  font-family: 'Almarai', sans-serif;
  font-size: 1.2em;
}

.timer-display{
  border: none;
  font-family: 'Almarai', sans-serif;
}

.control-button{
  font-size: 2em;
  background-color: transparent;
  border: none;
  margin-left: 3%;
  margin-right: 3%;
  outline: none;
  transition: all .2s ease-in-out;
}

.control-button:hover{
  transform: scale(1.1)
}

.control-button:active{
  transform: scale(0.9)
}

.reset-button:active{
  transform: rotate(180deg)
}

.lap{
  margin-bottom: 4%;
}